body {
    font-family: 'Lato', sans-serif;
}


/* NAV */
#logo {
    width: 200px;
}
#main-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

/* Hero image*/

.card-body {
    background-color: rgb(255, 119, 101);
    border-radius: 3%;
}

.card :not(.btn) {
    border-radius: 3%;
    color: white;
}

#footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.card-features i {
    font-size: 2.5rem;
    color: rgb(255, 119, 101); ;
}

.card-text {
    font-size: 0.75rem;
}

